<form [formGroup]="form" (ngSubmit)="signIn()">
  <div class="login-container">
    <div class="login-form">
      <h2>Sign In</h2>
      <div class="form-field">
        <label for="username">Email:</label>
        <input type="text" placeholder="Enter your Email" formControlName="email" />
      </div>
      <div class="form-field">
        <label for="password">Password:</label>
        <input type="password" placeholder="Enter your Password" formControlName="password" />
      </div>
      <button type="submit">Sign In</button>
      <div class="register-link">
        <p>Don’t have an account? <a href="/register">Register here</a></p>
      </div>
    </div>
  </div>
</form>


<!-- <h1>Login</h1>

<form [formGroup]="form" (ngSubmit)="signIn()">
  <div>
    <input type="text" placeholder="Enter your Username" formControlName="email" />
  </div>
  <div>
    <input type="password" placeholder="Enter your Password" formControlName="password" />
  </div>
  <div>
    <button type="submit">Sign In</button>
  </div>
</form> -->