body {
  font-family: 'Montserrat';
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: 'Montserrat';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 0;
}

.MidsectionTitle {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 0;
  font-size: 35px;
}

.section1Title {
  font-size: 35px;
  display: flex;
}

.section {
  width: 100%;
  margin-bottom: 40px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
}

.section2 > div, .section2 > .image-placeholder {
  flex: 1;
}

@media (min-width: 768px) {
  .section2 {
      flex-direction: row;
  }

  .section {
      width: calc(50% - 20px);
  }

  .content-with-image {
      flex-direction: column;
  }

  .image-placeholder {
      width: auto;
      margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .section2 {
      flex-direction: column;
  }

  .section2 > div, .section2 > .image-placeholder {
      flex-basis: 100%;
      max-width: 100%;
  }
}

.text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
}

.image-placeholder {
  flex-basis: 40%;
  background-color: #ffffffee;
  display: block;
  height: 400px;
  width: 600px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1f1f1f;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

  .logoimg {
    display: block;
    margin: 0 auto; 
    max-width: 50%; 
    height: auto;
  }

  .AboutTitle {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 45px;
  }