
  <form [formGroup]="form" (ngSubmit)="signUp()">
    <div class="login-container">
    
      <!-- Error Message Display -->
      @if(errorMessage){
        <div class="error-message">{{errorMessage}}</div>
      }
    
      <!-- Registration Form -->
      <div class="login-form">
        <h1>Register</h1>
        <div class="form-field">
          <label for="username">Name:</label>
          <input type="text" id="username" placeholder="Enter your Name" formControlName="username" />
        </div>
        <div class="form-field">
          <label for="email">Email:</label>
          <input type="email" id="email" placeholder="Enter your Email" formControlName="email" />
        </div>
        <div class="form-field">
          <label for="password">Password:</label>
          <input type="password" id="password" placeholder="Enter your Password" formControlName="password" />
        </div>
        <div>
          <button type="submit" class="submit-button">Sign Up</button>
        </div>
      </div>
    </div>
  </form>
  


<!-- <h1>Register</h1>

@if(errorMessage){
    <div>{{errorMessage}}</div>
}

<form [formGroup]="form" (ngSubmit)="signUp()">
  <div>
    <input type="text" placeholder="Username" formControlName="username" />
  </div>
  <div>
    <input type="text" placeholder="Email" formControlName="email" />
  </div>
  <div>
    <input type="password" placeholder="Password" formControlName="password" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form> -->