
    
   <!-- <h1>Update Profile</h1>
    <div class="profile-image">
      <img
        width="120"
        height="120"
        class="margin-top mat-elevation-z1"
        src='/assets/image-placeholder.png'
      />
      <button mat-mini-fab (click)="inputField.click()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <input #inputField hidden type="file" (change)="uploadFile($event)" />
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
      <div>
        <label for="uid">UID:</label>
        <input type="text" id="uid" formControlName="uid">
      </div>
    
      <div>
        <label for="bio">Bio:</label>
        <textarea id="bio" formControlName="bio"></textarea>
      </div>
    
      <div>
        <label for="certs">Certificates:</label>
        <input type="text" id="certs" formControlName="certs">
      </div>
    
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
    
      <div>
        <label for="other">Other:</label>
        <input type="text" id="other" formControlName="other">
      </div>
    
      <div>
        <label for="projects">Projects:</label>
        <textarea id="projects" formControlName="projects"></textarea>
      </div>
    
      <div>
        <label for="workexp">Work Experience:</label>
        <textarea id="workexp" formControlName="workexp"></textarea>
      </div>
    
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>-->
    

    